<body>

	<div id="notfound">
		<div class="notfound-bg"></div>
		<div class="notfound">
			<div class="notfound-404">
				<h1>404</h1>
			</div>
			<h2>we are sorry, but the page you requested was not found</h2>
			<a routerLink="/" class="home-btn">Go Home</a>
			<a href="#" class="contact-btn">Contact Me</a>
			<div class="notfound-social">
				<a href="https://www.facebook.com/iTarunGM" target="_blank"><i class="fa fa-facebook"></i></a>
				<a href="https://twitter.com/itarungm" target="_blank"><i class="fa fa-twitter"></i></a>
				<a href="https://github.com/itarungm" target="_blank"><i class="fa fa-github"></i></a>
				<a href="http://www.linkedin.com/in/itarungm" target="_blank"><i class="fa fa-linkedin"></i></a>
			</div>
		</div>
	</div>

</body>