<app-error-occurred *ngIf="errorOccurred"></app-error-occurred>
<app-thank-you *ngIf="paymentSuccess"></app-thank-you>
<section *ngIf="isLoading">
    <div class="Loader" >
        <div class="spinnerPairHolder">
            <div class="spinnerPair">
                <div class="spinnerPairCercle"></div>
                <div class="spinnerPairCercle"></div>
            </div>
            <div class="spinnerPair">
                <div class="spinnerPairCercle"></div>
                <div class="spinnerPairCercle"></div>
            </div>
            <div class="spinnerPair">
                <div class="spinnerPairCercle"></div>
                <div class="spinnerPairCercle"></div>
            </div>
            <div class="spinnerPair">
                <div class="spinnerPairCercle"></div>
                <div class="spinnerPairCercle"></div>
            </div>
            <div class="spinnerPair">
                <div class="spinnerPairCercle"></div>
                <div class="spinnerPairCercle"></div>
            </div>
        </div>
    </div>
</section>
